﻿@{
    ViewBag.Title = "Heat maps by state";
}
<div class="row">
        <div class="col-md-12" ng-controller="mapCtrl">
            <div class="row">
                <div class="col-md-3 text-center">
                    <select class="form-control" ng-model="state" ng-change="getCityData(state)" ng-options="state.term as state.term for state in stateData.results | orderBy:'term'">
                        <option style="display:none" value="">Select State</option>
                    </select>
                </div>
                <div class="col-md-9" ng-if="progress > 0 && progress < 100">
                    <div class="text-center progressBar" ng-style="{ 'width': progress + '%' }">{{progress}}%</div>
                </div>
                <div class="col-md-10" style="width:100%;height:400px" id="map"></div>
            </div>
        </div>
    </div>

@section scripts {
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP3mekzx9h6z_y9fccGPB5SMc3o-baegM&v=3.20&libraries=visualization&sensor=false"></script>
    <script type="text/javascript" src="~/scripts/Home/LocationHeatmap.js"></script>
}