﻿@{
    ViewBag.Title = "Unit Tests";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>QUnit Example</title>
    <link rel="stylesheet" href="//code.jquery.com/qunit/qunit-1.18.0.css">
</head>
<body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
    <div ng-controller="testCtrl"></div>
    <script src="//code.jquery.com/qunit/qunit-1.18.0.js"></script>
    <script src="~/lib/angularjs/angular.js"></script>
    <script type="text/javascript">
        var app = angular.module("app", [])
        app.controller("testCtrl", function ($scope, $http) {
            $scope.getStateData = function () {
                $http.get("/api/FdaFood/StateData/?page=1&state=ca")
                    .success(function (d) {
                        QUnit.test("A test of record counts.", function (assert) {
                            assert.equal(d.results.length, 25, "We expect 25 records.");
                        });

                        QUnit.test("A test of state filter.", function (assert) {
                            assert.equal(d.results[0].state, "CA", "We expect a state of CA.");
                        });
                    });
            }

            $scope.getStateData();
        });
        angular.bootstrap(document, ['app']);
    </script>
</body>
</html>